################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lv-703/FileContentIndex/599fb415-e787-48d0-803f-ee6d591ea760.vsidx
