################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lv-703/FileContentIndex/599fb415-e787-48d0-803f-ee6d591ea760.vsidx
/.vs/slnx.sqlite
/.vs/Lv-703/FileContentIndex/read.lock
/.vs/Lv-703/FileContentIndex/e806be81-235b-492d-82c5-ca05d6d9046a.vsidx
/.vs/Lv-703/FileContentIndex/726fecf9-b8ad-472f-af80-abec46b85f10.vsidx
/.vs/Lv-703/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/Lv-703/FileContentIndex/8dd4a988-725e-488c-837b-8a9f65e2273b.vsidx
/.vs/Lv-703/FileContentIndex/52401dd2-b7de-4620-8d02-199b03e40e48.vsidx
/.vs/Lv-703/FileContentIndex/1a5e2682-b62c-4175-92bb-f9c39ee0881d.vsidx
